@import "../../../assets/style/variables";
.forgot {
    max-width: 450px;
    input[type='radio'] {
        display: none;
    }
    .form-group {
        display: none;
    }
    input+span {
        border: 1px solid transparent;
        transition: all ease-in-out 0.4s;
        position: relative;
        .svg-style {
            flex: 0 0 12%;
            max-width: 12%;
            @media (max-width: 767.98px) {
                flex: 0 0 auto;
                max-width: 100%;
            }
        }
        .svg-style+span {
            flex: 0 0 88%;
            max-width: 88%;
            @media (max-width: 767.98px) {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
        &::before,
        &::after {
            content: '';
            display: block;
            position: absolute;
            left: 15px;
            top: 20px;
            height: 32px;
            width: 32px;
            border: 1px solid $bg-medium;
            transition: all ease-in-out 0.4s;
            border-radius: 100%;
            margin: auto;
        }
        &::after {
            height: 20px;
            width: 20px;
            border: none;
            background: transparent;
            transform: scale(0.75);
            opacity: 0;
            left: 21px;
            top: 26px;
        }
    }
    input:checked+span {
        border-color: $secondary;
        &::after {
            background: $secondary;
            transform: scale(1);
            opacity: 1;
        }
        &::before {
            border-color: $secondary;
        }
        .form-group {
            display: block;
            flex: 0 0 100%;
        }
    }
}

@media (max-width:767.98px) {
    .font18 {
        font-size: 13px;
    }
}