<app-mini-header [isLoged]="false"></app-mini-header>
<section class="forgot mx-auto pb-4">
    <div class="container">

        <div *ngIf="successMessage" class="p-3 success bg-success-light rounded-3 mt-5 font18 wt-600">
            <i [innerHTML]="icons.tick | safeHtml"></i> {{successMessage}}
        </div>

        <div *ngIf="errorMessage" class="mt-3 p-3 text-danger text-center red-light rounded-3 font18 wt-600">
            <i [innerHTML]="icons.infoIcon | safeHtml"></i> {{errorMessage}}
        </div>

        <h2 class="text-center font25 wt-800 mt-4 mt-md-0 pt-md-5">إعادة تعيين كلمة المرور</h2>
        <p class="font16 content-medium wt-500 phone-opt mb-0 resend pb-4 text-center">يرجى إدخال البريد الالكتروني او رقم الهاتف الخاص بحسابك لإعادة تعيين كلمة المرور</p>
        <form [formGroup]="form" class="forgotForm">
            <app-loader *ngIf="isLoading"></app-loader>
            <label for="label1" class="d-block mb-3 position-relative cursor">
        <input class="form-check-input" type="radio" name="methos" id="label1" value="option1">
        <span class="icon d-flex align-items-start rounded-3 bg-extra-light p-3 flex-wrap">
       <i class=" svg-style bg-light rounded-3 p-2"  [innerHTML]="icons.email | safeHtml">
        </i>
          <span class="wt-600 font18 pe-md-4 ps-md-2">عبر البريد الالكتروني<p class="mb-0 wt-500 font14 content-light">سيتم إرسال
              رابط إعادة تعيين كلمة السر على بريدك الالكتروني
            </p>
          </span>
          
         <div class="form-group w-100 mt-3">
          <div class="control-wrapper position-relative">
              <span class="icon position-absolute" [innerHTML]="icons.email | safeHtml"> 
              </span>
              <input formControlName="email" id="email" type="email" class="form-control font16 wt-500">
              <label for="email" class="position-absolute">البريد الالكتروني</label>

    </div>
    </div>
    </span>
    </label>
    <label for="label2" class="d-block mb-3 position-relative cursor">
        <input class="form-check-input" type="radio" name="methos" id="label2" value="option2">
        <span class="icon d-flex flex-wrap align-items-start rounded-3 bg-extra-light p-3">
          <i class=" svg-style bg-light rounded-3 p-2"  [innerHTML]="icons.phone | safeHtml">
          </i>  
          <span class="wt-600 font18 mt-md-2 pe-md-4 ps-md-2">عبر رقم الهاتف</span><p></p>
          <div class="form-group w-100 mt-3">
            <div class="row  my-4">
              <div class="col-md-3 col-4">
                  <div class="control-wrapper">
                      <div class="form-group">
                          <select id="inputState" class="form-select form-control form-txt" placeholder="State">
                          <option value="State" selected="">+20</option>
                          <option value="">1</option>
                          <option value="">2</option>
                          <option value="">3</option>
                        </select>
                      </div>
                  </div>
              </div>
              <div class="col-md-9 col-8">
                  <div class="form-group">
                      <div class="control-wrapper position-relative">
                          <span class="icon position-absolute" [innerHTML]="icons.phone | safeHtml">                       
                  </span>
                          <input formControlName="phone" id="number" type="text" class="form-control font16 wt-500">
                          <label for="number" class="position-absolute">رقم الهاتف</label>
    <p *ngIf="form.controls['phone'].invalid && form.controls['phone'].touched" class="text-danger text-start"> <i [innerHTML]="icons.infoIcon | safeHtml"></i> يرجى إدخال بريد الكتروني صحيح </p>
    </div>
    </div>
    </div>
    </div>
    </div>
    </span>
    </label>
    <button [disabled]="isLoading" type="submit" (click)="submit()" class="rounded-3  theme-bg w-100 border-0 text-white p-3 my-4 font18 wt-600">
        إرسال
      </button>
    </form>
    </div>
</section>