<footer class="footer">
    <section class="bg-light mt-md-5 mt-3 ">
        <div class="container">
            <div class="row pt-4 pt-md-5">
                <div class="col-md-3 col-6">
                    <h2 class="wt-600 font18">كيكسات</h2>
                    <ul class="p-0 list-unstyled">
                        <li class="wt-400 pb-2">
                            <a href="#" class="text-decoration-none content-medium">
                                سياسة الاسترجاع المجاني
                            </a>
                        </li>
                        <li class="wt-400 pb-2">
                            <a href="#" class="text-decoration-none content-medium">
                                شروط و احكام البيع
                            </a>
                        </li>
                        <li class="wt-400 pb-2">
                            <a href="#" class="text-decoration-none content-medium">
                                سياسة الاستبدال و الاسترجاع
                            </a>
                        </li>
                        <li class="wt-400 pb-2">
                            <a href="#" class="text-decoration-none content-medium">
                                سياسة خاصة
                            </a>
                        </li>
                        <li class="wt-400 pb-2">
                            <a href="#" class="text-decoration-none content-medium">
                                سياسة الدفع
                            </a>
                        </li>
                        <li class="wt-400 pb-2">
                            <a href="#" class="text-decoration-none content-medium">
                                الاحكام و الشروط
                            </a>
                        </li>
                        <li class="wt-400 pb-2">
                            <a href="#" class="text-decoration-none content-medium">
                                الوظائف
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 col-6">
                    <h2 class="wt-600 font18">خدمة العملاء</h2>
                    <ul class="p-0 list-unstyled">
                        <li class="wt-400 pb-2">
                            <a href="#" class="text-decoration-none content-medium">
                                مراسلتنا
                            </a>
                        </li>
                        <li class="wt-400 pb-2">
                            <a href="#" class="text-decoration-none content-medium">
                                ارسال ايميل support@kixat.com
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 col-6">
                    <h2 class="wt-600 font18">حسابي</h2>
                    <ul class="p-0 list-unstyled">
                        <li class="wt-400 pb-2">
                            <a href="#" class="text-decoration-none content-medium">
                                حسابي
                            </a>
                        </li>
                        <li class="wt-400 pb-2">
                            <a href="#" class="text-decoration-none content-medium">
                                الطلبات
                            </a>
                        </li>
                        <li class="wt-400 pb-2">
                            <a href="#" class="text-decoration-none content-medium">
                                المفضلة
                            </a>
                        </li>
                        <li class="wt-400 pb-2">
                            <a href="#" class="text-decoration-none content-medium">
                                العناويين
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 col-6">
                    <h2 class="wt-600 font18">حمل التطبيق</h2>
                    <a href="#"><img src="assets/icons/playStore.svg" class="my-lg-2 store-img" alt="playStore"></a>
                    <a href="#"><img src="assets/icons/appStore.svg" class="my-lg-2 store-img" alt="appStore"></a>
                </div>
            </div>
            <div class="row pb-3 mt-3 mt-md-0">
                <div class="col-md-1 col-4 align-self-center mb-2 mb-md-0">
                    <span class="wt-600 font18">تابعنا على</span>
                </div>
                <div class="col-md-6 col-8">
                    <span class="socialMedia p-1 mx-md-2 mx-1 rounded d-inline-flex align-items-center justify-content-center">
                        <i [innerHTML]="icons.facebook | safeHtml"></i>
                    </span>
                    <span class="socialMedia p-1 mx-md-2 mx-1 rounded d-inline-flex align-items-center justify-content-center">
                        <i [innerHTML]="icons.twitter | safeHtml"></i>
                    </span>
                    <span class="socialMedia p-1 mx-md-2 mx-1 rounded d-inline-flex align-items-center justify-content-center">
                        <i [innerHTML]="icons.youtube | safeHtml"></i>
                    </span>
                    <span class="socialMedia p-1 mx-md-2 mx-1 rounded d-inline-flex align-items-center justify-content-center">
                        <i [innerHTML]="icons.insta | safeHtml"></i>
                    </span>
                    <span class="socialMedia p-1 mx-md-2 mx-1 rounded d-inline-flex align-items-center justify-content-center">
                        <i [innerHTML]="icons.linkedin | safeHtml"></i>
                    </span>
                </div>

            </div>
        </div>
    </section>
    <section class="bg-medium">
        <div class="container">
            <div class="row pt-3 justify-content-between flex-column-reverse flex-md-row">
                <div class="col-md-6 my-3 my-md-0">
                    <span class="wt-400 font16">جميع الحقوق محفوظة كيكسات © 2023 </span>
                </div>
                <div class="col-md-6 text-center text-md-end payment-imgs">
                    <span class="mx-1">
                      <img src="assets/icons/cod.svg" alt="wallets">
                    </span>
                    <span class="p-1 rounded mx-1">
                      <img src="assets/icons/mobile-wallets.svg" alt="wallets">
                    </span>
                    <span class="mx-1">
                        <img src="assets/icons/valU.svg" alt="wallets">
                    </span>
                    <span class="mx-1">
                        <img src="assets/icons/fawry.svg" alt="wallets">
                       
                    </span>
                    <span class="mx-1">
                        <img src="assets/icons/masterCard.svg" alt="wallets">
                       
                    </span>
                    <span class="mx-1">
                        <img src="assets/icons/visa.svg" alt="wallets">
                    </span>
                </div>
            </div>
            <div class="d-none d-md-flex justify-content-between mt-5 py-3 ">
                <span class="position-fixed rounded-circle d-flex align-items-center justify-content-center"> <i [innerHTML]="icons.support | safeHtml">
                </i></span>
                <span class="position-fixed rounded-circle d-flex align-items-center justify-content-center" (click)="scrollToTop()">
                    <i [innerHTML]="icons.scrollTop | safeHtml">
                </i></span>
            </div>
        </div>
    </section>
</footer>