<app-mini-header [isLoged]="false"></app-mini-header>
<section class="opt-form text-center mx-auto pb-4">
    <div class="container">

        <div *ngIf="successMessage" class="p-3 success bg-success-light rounded-3 mt-5 font18 wt-600">
            <i [innerHTML]="icons.tick | safeHtml"></i> {{successMessage}}
        </div>

        <div *ngIf="errorMessage" class="mt-3 p-3 text-danger red-light rounded-3 font18 wt-600">
            <i [innerHTML]="icons.infoIcon | safeHtml"></i> {{errorMessage}}
        </div>

        <h2 class="text-center font25 wt-800 my-4 pt-md-5 mb-2">قم بإدخال الكود المرسل إلي رقم هاتفك</h2>
        <p class="font18 wt-500 phone-opt mb-0">{{phone}}</p>
        <form class="pt-4" [formGroup]="form">
            <app-loader *ngIf="isLoading"></app-loader>
            <div class="form-group d-flex px-3 justify-content-center">
                <input formControlName="digit1" type="text" value="1" class="form-control text-center font25 wt-700 text-start m-2 py-md-4 py-2 rounded-3 bg-light border-0" maxlength="1">
                <input formControlName="digit2" type="text" value="6" class="form-control text-center font25 wt-700 text-start m-2 py-md-4  rounded-3 bg-light border-0" maxlength="1">
                <input formControlName="digit3" type="text" value="9" class="form-control text-center font25 wt-700 text-start m-2 py-md-4  rounded-3 bg-light border-0" maxlength="1">
                <input formControlName="digit4" type="text" value="0" class="form-control text-center font25 wt-700 text-start m-2 py-md-4  rounded-3 bg-light border-0" maxlength="1">
                <input formControlName="digit5" type="text" value="5" class="form-control text-center font25 wt-700 text-start m-2 py-md-4  rounded-3 bg-light border-0" maxlength="1">
                <input formControlName="digit6" type="text" value="7" class="form-control text-center font25 wt-700 text-start m-2 py-md-4  rounded-3 bg-light border-0" maxlength="1">
            </div>
            <p *ngIf="counter < 1" class="mt-4 font18 wt-500 text-danger">
               <a href="javascript:void(0)" class="text-decoration-none text-danger" (click)="resendCode()"> إعادة إرسال الكود</a>
            </p>
            <p *ngIf="counter > 0" class="mt-4 font18 wt-500 resend">
                يمكنك طلب إعادة إرسال خلال: <span class="theme-color wt-600">{{counter | formatTime}}</span>
            </p>
            <button (click)="submit()" type="submit" class="rounded-3 lg-button theme-bg w-100 border-0 text-white my-4 mt-4 font18 wt-600">
                تأكيد
            </button>
        </form>
    </div>
</section>