// colors
$bg-light: #F1EFEF;
$content-light:#8D8584;
$content-medium: #696362;
$content-main:#170605;
$bg-medium:#E2DEDE;
$primary: #B81B34;
$secondary: #D19F1F;
$secondary-light:#F7EFD9;
$secondary-extraLight:#FCF4E5;
$bg-light100: #f3e5c2;
$red-light: #F4DDE1;
$danger:#d31d3a;
$success: #34A853;
$success-light: #EBF6EE;
$primary-light:#faebea;
$bg-extra-light: #F8F7F7;
// font size
$font12: 12px;
$font14: 14px;
$font16: 16px;
$font18: 18px;
$font20: 20px;
$font25: 25px;
$font32: 32px;
$font40: 40px;
// font weight
$wt400: 400;
$wt500: 500;
$wt600: 600;
$wt700: 700;
$wt800: 800;
$wt900: 900;
$wt600: 600;