<app-page-header [title]="'شروط وأحكام البيع'"></app-page-header>
<section>
    <div class="container">
        <div class="page-banner rounded-3 bg-light mb-5 p-3 p-md-0">
            <div class="row">
                <div class="col-md-6 p-md-3 pb-md-0 align-self-center ps-md-5 mb-2 mb-md-0">
                    <h2 class="font25 wt-800">شروط وأحكام البيع</h2>
                    <p class="m-0 content-light font18 wt-500">اخر تحديث في: 15 ديسمبر 2022</p>
                </div>
                <div class="col-md-6 text-md-end p-md-4 pb-md-0 mt-3 mt-md-0">
                    <img class="banner-img" src="assets/images/clipboard.svg" alt="">
                </div>
            </div>
        </div>
        <h3 class="content-main font20 wt-600 mb-4">تقر " أنت " وتوافق على الاتي:</h3>
        <ul class="content-medium font16 wt-500 list-square">
            <li> بأن موقع “ كيكسات “ هو موقعاً إلكترونياً للبائعين لبيع منتجاتهم وللمشترين لشراء هذه المنتجات.

            </li>
            <li>
                بالرغم أن “ كيكسات “ تقبل عمليات البيع الملزمة نيابة عن البائع، لا تعتبر “ كيكسات “ باي حال من الاحوال طرفًا في المعاملة بين البائع والمشتري .
            </li>
            <li>
                يتم ابرام عقد بيع وشراء للمنتج أو المنتجات بين البائع والمشتري ولذلك فانك تلتزم بشراء أو بيع المنتج أو المنتجات عند تأكيد المشتري لعملية الشراء عن طريق موقع “ كيكسات “.
            </li>
            <li>
                يخضع عقد البيع والشرا ء بين المشتري والبائع لشروط أعمال البائع و طبقاً لهذه الشروط والأحكام العامة وبالرغم من ذلك يتم إضافة النصوص التالية في عقد البيع والشراء بين المشتري والبائع.
            </li>
            <li>
                البيع بذات سعر المنتج الوارد في قائمة المنتجات والموضحة على الموقع.
            </li>
            <li>
                يشمل سعر المنتج جميع انواع الضرائب مع مراعاه كافة القوانين السارية والمعمول بها في جمهورية مصر العربية من وقت لآخر .
            </li>
        </ul>
    </div>
</section>