@import "../../../assets/style/variables";
header.border-bottom {
    color: $content-light;
}

.signup-form {
    max-width: 450px;
}

.control-wrapper {
    label {
        right: 45px;
        top: 15px;
        color: $content-light;
        background: #fff;
        padding: 2px 4px;
    }
    .icon {
        top: 15px;
        right: 8px;
    }
    .form-control {
        padding: 13px 45px !important;
        &:focus {
            border-color: $secondary;
            box-shadow: none;
        }
        &.ng-touched+label,
        &.ng-dirty:not(.ng-pristine)+label {
            font-size: $font12;
            transform: translate(30px, -25px);
        }
        &.ng-invalid.ng-touched {
            border-color: $danger;
        }
    }
    .password-icon {
        top: 15px;
        left: 15px;
        margin: auto;
    }
}