<div class="container mt-md-5 pt-md-4">
    <div class="shein-banner p-2 p-md-0">
        <div class="row">
            <div class="col-7 p-md-5 align-self-center">
                <h2 class="wt-800 rounded theme-color bg-white d-inline-block p-1 p-md-2 px-md-4">منتجات <span>SHEIN</span> الآن على كيكسات!</h2>
                <p class="text-white wt-600 font20 mt-3 mb-0">منتجات SHEIN بأرخص سعر و مدة توصيل تصل الى يومين حد اقصى!</p>
            </div>
            <div class="col-5">
                <img class="img-fluid" src="assets/images/shein-banner.svg" alt="">
            </div>
        </div>
    </div>
</div>