@import "../../../assets/style/_variables.scss";
.sellerProfile {
    .border-none {
        @media (max-width: 767.98px) {
            border-left: 0 !important;
            border-right: 0 !important;
        }
    }
    .padding {
        padding: 4px 20px;
    }
    .review {
        .dropdown-toggle {
            outline: none;
            box-shadow: none;
            margin: -9px -17px;
            margin-left: 0;
            @media (max-width: 767.98px) {
                margin: 4px;
            }
            &::after {
                display: none;
            }
        }
    }
}

@media (max-width: 767.98px) {
    .font16 {
        font-size: 13px;
    }
}