<div class="container p-3">
    <div class="row">
        <div class="col-md-5">
            <div class="row">
                <div class="col-md-8">
                    <h4 class="wt-700 font14">الفئات</h4>
                    <ul class="list-unstyled divide-2">
                        <li><a href="#">Apple</a></li>
                        <li><a href="#">JBL</a></li>
                        <li><a href="#">Samsung</a></li>
                        <li><a href="#">Tornado</a></li>
                        <li><a href="#">Sony</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4 class="wt-700 font14">اشهر البراندات</h4>
                    <ul class="list-unstyled">
                        <li><a href="#">Apple</a></li>
                        <li><a href="#">JBL</a></li>
                        <li><a href="#">Samsung</a></li>
                        <li><a href="#">Tornado</a></li>
                        <li><a href="#">Sony</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="bg-extralight rounded-3 p-3 p-md-5 text-center">
                <p class="theme-color m-0">Apple</p>
                <h3 class="wt-800 font25">Apple Smart watch</h3>
                <img class="img-fluid" src="assets/images/product1.png" alt="">
            </div>
        </div>
        <div class="col-md-3">
            <div class="bg-success-light rounded-3 p-3 p-md-5 text-center">
                <p class="theme-color m-0">Sale</p>
                <h3 class="wt-800 font25">Headphones</h3>
                <img class="img-fluid" src="assets/images/product2.png" alt="">
            </div>
        </div>
    </div>
</div>