<section class="orderDetails py-4 pt-0">
    <div class="font16 wt-500 theme-color py-3">
        <i [innerHTML]="icons.next | safeHtml"></i>العودة إلى باقي الطلبات
    </div>
    <!-- upper heading  -->
    <div class="row ">
        <div class="col-md-6">
            <p class="font25 wt-800">NEGEB00081110 <small class="wt-600 font18 content-light ms-1">تاريخ إرسال
                                        الطلب: 20
                                        ديسمبر 2022</small></p>
        </div>
        <div class="col-md-6 text-md-end">
            <span class="font18 wt-600 px-3 py-1 rounded bg-secondaryLight"><small
                                        class="content-light">الإجمالي:</small> 1500
                                    ج.م</span>
        </div>
    </div>
    <!-- middle section  -->
    <div class="row mt-3 mt-md-0">
        <div class="col-md-9 ">
            <div class="row shippingAddress p-3 align-items-center bg-extra-light rounded">
                <div class="col-md-8 order-2 order-md-1">
                    <p class="content-light wt-600 font18"><i [innerHTML]="icons.truck | safeHtml"></i>عنوان الشحن
                    </p>
                    <span class="wt-700 font14">Sara Youssry</span>
                    <div class="wt-400">
                        <p>+20100 000 0000</p>
                        <p>الاسكندرية - سيدي جابر - شارع ١ - منطقة - عمارة</p>
                    </div>
                </div>
                <div class="col-md-4 text-md-end order-1 order-md-2 mb-3 mb-md-0">
                    <span class="rounded text-white home px-2 py-1 mx-2">المنزل</span>
                    <span class="rounded text-white default px-2 py-1">العنوان الافتراضي</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 ">
            <div class="paymentMethod p-3 py-4 bg-extra-light h-100 rounded mt-3 mt-md-0">
                <p class="wt-600 font18 content-light"><i class="me-2" [innerHTML]="icons.payment | safeHtml"></i>طريقة الدفع
                </p>
                <div class="wt-700 font16">
                    <p class="mb-1">بطاقة ائتمانية</p>
                    <p class="success pb-md-2">تم الدفع بنجاح</p>
                </div>
            </div>
        </div>
    </div>
    <!-- last section  -->
    <div class="shipment border  my-5 my-md-3 rounded">
        <div class="row ">
            <div class="col-md-9">
                <div class="row align-items-center border-bottom py-2 ">
                    <div class="col-md-9 ps-md-4 px-md-0">
                        <p class="font16 wt-700 me-2 mb-1 mt-3">الشحنة 1 من 1 <small class="wt-500 content-light">(6
                                                    منتجات)</small></p>
                        <span class="font16 wt-700"><small class="wt-500 me-2 content-light">معاد التوصيل
                                                    المتوقع</small>24 ديسمبر
                                                2022 - 25 ديسمبر 2022</span>
                    </div>
                    <div class="col-md-3 text-md-end p-md-0 mt-2 mt-md-0">
                        <span class="text-white px-2 py-1 rounded bg-success">تم التوصيل</span>
                    </div>
                </div>
                <div class="ovflow">
                    <ul class="list-group mx-2">
                        <li class="list-group-item border-0 border-bottom p-0 py-3">
                            <div class="row py-2">
                                <div class="col-md-5 d-flex">
                                    <div class="image col-4"><img alt="" class="img-thumbnail" src="assets/images/product3.png">
                                    </div>
                                    <div class="col-8 align-self-center mx-3">
                                        <p class="wt-500 font16 mb-0 mb-md-3">Maybelline superstay lipstick Maybelline superstay lipstick</p>
                                        <div class="d-flex align-items-center"><label for="staticEmail2" class="content-light">اللون:</label><span class="bg-light p-2 rounded mx-2 wt-500 font16">120</span></div>
                                    </div>
                                </div>
                                <div class="col-md-4 text-md-center mb-2 mb-md-0">
                                    <span class="wt-700 font20">13,903 ج.م</span>
                                </div>
                                <div class="col-md-3">
                                    <button type="button" class="mt-md-5 btn w-100 rounded text-secondary values" data-bs-toggle="modal" data-bs-target="#exampleModal">قيم المنتج</button>
                                </div>
                            </div>
                            <div class="d-flex">
                                <span class="text-secondary p-2 bg-secondaryLight rounded wt-600 me-3">شحن مجاني</span>
                                <div class="d-flex align-items-center font12 wt-600 justify-content-center">
                                    <label class="content-light">اللون :</label><span class="mx-2 content-main">Sara
                                                            Store</span>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item border-0 border-bottom p-0 py-3">
                            <div class="row py-2">
                                <div class="col-md-5 d-flex">
                                    <div class="image col-4"><img alt="" class="img-thumbnail" src="assets/images/product3.png">
                                    </div>
                                    <div class="col-8 align-self-center mx-3">
                                        <p class="wt-500 font16 mb-0 mb-md-3">Maybelline superstay lipstick Maybelline superstay lipstick</p>
                                        <div class="d-flex align-items-center"><label for="staticEmail2" class="content-light">اللون:</label><span class="bg-light p-2 rounded mx-2 wt-500 font16">120</span></div>
                                    </div>
                                </div>
                                <div class="col-md-4 text-md-center mb-2 mb-md-0">
                                    <span class="wt-700 font20">13,903 ج.م</span>
                                </div>
                                <div class="col-md-3">
                                    <button type="button" class="mt-md-5 btn w-100 rounded text-secondary values" data-bs-toggle="modal" data-bs-target="#exampleModal">قيم
                                                            المنتج</button>
                                </div>
                            </div>
                            <div class="d-flex">
                                <span class="text-secondary p-2 bg-secondaryLight rounded wt-600 me-3">شحن مجاني</span>
                                <div class="d-flex align-items-center font12 wt-600 justify-content-center">
                                    <label class="content-light">اللون :</label><span class="mx-2 content-main">Sara
                                                            Store</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 pe-md-0">
                <div class="p-3 bg-extra-light h-100">
                    <span class="font16 wt-700 mb-3">تقدم الشُحنة</span>
                    <ul class="list-unstyled p-0 process">
                        <li *ngFor="let list of shiping" class="py-3">
                            <p class="mb-0 wt-700">{{list.status}}</p>
                            <span class="content-light wt-500 font12">{{list.date}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="wt-500 font-16 py-3 refundBtn">
        <button type="button" class="btn button py-2 px-3 rounded me-3">طلب إسترجاع</button>
        <button type="button" class="btn py-2 px-3 button rounded me-3" data-bs-toggle="modal" data-bs-target="#exampleModal2">قيم البائع</button>
    </div>
</section>

<!-- // first modal  -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content p-3">
            <div class="modal-header border-0 pb-0 pt-0">
                <h5 class="modal-title" id="exampleModalLabel">قيم المنتج </h5>
            </div>
            <div class="modal-body pt-1">
                <form [formGroup]="form">
                    <div class="row ">
                        <div class="col-md-7 d-flex ">
                            <div class="image col-4"><img alt="" class="img-thumbnail" src="assets/images/product3.png">
                            </div>
                            <div class="col-8 align-self-center mx-3">
                                <p class="wt-500 font12 mb-0 mb-md-3">Maybelline superstay lipstick Maybelline superstay lipstick</p>
                                <div class="d-flex align-items-center"><label for="staticEmail2" class="content-light font12">اللون:</label><span class="bg-light p-2 rounded mx-2 wt-500 font12">120</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="eval my-2 border-bottom border-top py-2">
                        <p class="wt-600 font18 my-2">ما هو تقييمك للمنتج؟</p>
                        <i [innerHTML]="icons.unfillStar | safeHtml"></i>
                        <i [innerHTML]="icons.unfillStar | safeHtml"></i>
                        <i [innerHTML]="icons.unfillStar | safeHtml"></i>
                        <i [innerHTML]="icons.unfillStar | safeHtml"></i>
                        <i [innerHTML]="icons.unfillStar | safeHtml"></i>
                    </div>
                    <div class="border-bottom py-3">
                        <p class="wt-600 font18">اختر ترشيحك لشراء المنتج</p>
                        <span class="wt-700 font14 border success  rounded bg-success-light me-3 px-3 py-1 d-inline-block"><i
                                                [innerHTML]="icons.yes | safeHtml "></i>ارشح شراء هذا المنتج</span>
                        <button type="button" class="btn font14 wt-700 border rounded bg-light px-3 py-1 d-inline-block disabled"><i
                                                [innerHTML]="icons.close | safeHtml"></i> لا ارشح شراء هذا المنتج</button>
                    </div>
                    <p class="wt-600 font18 my-3">اكتب تقييمك</p>
                    <div class="form-group mb-4">
                        <div class="control-wrapper position-relative">
                            <textarea id="address" formControlName="comment" class="no-icon form-control form-txt"></textarea>
                            <label for="address" class="position-absolute"> تقييمك</label>
                        </div>
                    </div>
                    <button type="button" class="w-100 btn theme-bg text-white disabled">إضافة التقييم</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- second modal  -->


<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content p-3">
            <div class="modal-header border-0 pb-0 pt-0">
                <h5 class="modal-title" id="exampleModalLabel">قيم المنتج </h5>
            </div>
            <div class="modal-body pt-1">
                <form [formGroup]="form">
                    <!-- first product  -->
                    <div class="row ">
                        <div class="col-md-5 border-end">
                            <p class="wt-600 font18 mb-1">البائع</p>
                            <span class="bg-light rounded p-2"><i [innerHTML]="icons.store | safeHtml "></i>Sara Store</span>
                        </div>
                        <div class="col-md-7 d-flex ">
                            <div class="image col-4"><img alt="" class="img-thumbnail" src="assets/images/product3.png">
                            </div>
                            <div class="col-8 align-self-center mx-3">
                                <p class="wt-500 font12 mb-0 mb-md-3">Maybelline superstay lipstick Maybelline superstay lipstick</p>
                                <div class="d-flex align-items-center"><label for="staticEmail2" class="content-light font12">اللون:</label><span class="bg-light p-2 rounded mx-2 wt-500 font12">120</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="eval my-2 border-bottom border-top py-2">
                        <p class="wt-600 font18 my-2">ما هو تقييمك للمنتج؟</p>
                        <i [innerHTML]="icons.star | safeHtml"></i>
                        <i [innerHTML]="icons.star | safeHtml"></i>
                        <i [innerHTML]="icons.star | safeHtml"></i>
                        <i [innerHTML]="icons.star | safeHtml"></i>
                        <i [innerHTML]="icons.unfillStar | safeHtml"></i>
                    </div>
                    <p class="wt-600 font18 my-3">ما هو تقييمك للمنت</p>
                    <div class="form-group mb-4">
                        <div class="control-wrapper position-relative">
                            <textarea id="address" formControlName="comment2" class="no-icon form-control form-txt"></textarea>
                            <label for="address" class="position-absolute"> اكتب تقييمك</label>
                        </div>
                    </div>
                    <!-- second product  -->
                    <div class="row border-top pt-2">
                        <div class="col-md-5 border-end">
                            <p class="wt-600 font18 mb-1">البائع</p>
                            <span class="bg-light rounded p-2"><i [innerHTML]="icons.store | safeHtml "></i>Sara Store</span>
                        </div>
                        <div class="col-md-7 d-flex ">
                            <div class="image col-4"><img alt="" class="img-thumbnail" src="assets/images/product3.png">
                            </div>
                            <div class="col-8 align-self-center mx-3">
                                <p class="wt-500 font12 mb-0 mb-md-3">Maybelline superstay lipstick Maybelline superstay lipstick</p>
                                <div class="d-flex align-items-center"><label for="staticEmail2" class="content-light font12">اللون:</label><span class="bg-light p-2 rounded mx-2 wt-500 font12">120</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="eval my-2 border-bottom border-top py-2">
                        <p class="wt-600 font18 my-2">ما هو تقييمك للمنتج؟</p>
                        <i [innerHTML]="icons.star | safeHtml"></i>
                        <i [innerHTML]="icons.star | safeHtml"></i>
                        <i [innerHTML]="icons.star | safeHtml"></i>
                        <i [innerHTML]="icons.star | safeHtml"></i>
                        <i [innerHTML]="icons.unfillStar | safeHtml"></i>
                    </div>
                    <p class="wt-600 font18 my-3">اترك تعليق <span class="content-light">(اختياري)</span></p>
                    <div class="form-group mb-4">
                        <div class="control-wrapper position-relative">
                            <textarea id="address" formControlName="comment" class="no-icon form-control form-txt"></textarea>
                            <label for="address" class="position-absolute"> اكتب تقييمك</label>
                        </div>
                    </div>
                </form>
            </div>
            <button type="button" class="w-100 btn theme-bg text-white disabled">إضافة التقييم</button>
        </div>
    </div>
</div>