<div class="container my-5">
    <div class="shiping-banner rounded px-3">
        <div class="row">
            <div class="col-md-3 d-none d-md-block">
                <img src="assets/images/shiping-boy.png" alt="">
            </div>
            <div class="col-md-4 align-self-center pe-md-5 mt-3 mt-md-0">
                <span class="button theme-bg text-white wt-800 font25 p-2 px-4 d-inline-block rounded">شحن مجاني على اول طلب</span>
                <p class="wt-600 font20 mt-3 mb-0">شحن مجاني على اول طلب لك من كيكسات! سجل و اطلب الآن و استمتع بالعرض!</p>
            </div>
            <div class="col-md-5 text-center my-3 my-md-0">
                <div class="theme-bg position-relative ms-md-5 coupon-box font20 wt-700 text-white p-3 align-self-center d-flex h-100 flex-column justify-content-center">
                    <div>
                        <p class="d-none d-md-block">استخدم هذا الكوبون عند عمل أول طلب ليك</p>
                        <span class="coupon wt-800 font25 d-inline-block p-md-3 p-2 px-5 rounded">
                            <i class="ms-md-4 ms-1" [innerHTML]="icons.copy | safeHtml"></i>   FreeShip1 
                    </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>