<div class="allRatings mt-4 mt-md-0">
    <div class="row align-items-center align-items-md-start py-md-3 pt-md-0">
        <div class="col-md-2 font25 wt-800"><span>الطلبات</span></div>
        <div class="col-md-10">
            <ul class="nav nav-pills my-3 mt-md-0 justify-content-md-end" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">جميع الطلبات
                                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">الطلبات اللتي تم توصيلها
                                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link mt-2 mt-md-0" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">الطلبات
                                        الملغية
                                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link mt-2 mt-md-0" id="pills-four-tab" data-bs-toggle="pill" data-bs-target="#pills-four" type="button" role="tab" aria-controls="pills-four" aria-selected="false">طلبات الإسترجاع
                                    </button>
                </li>
            </ul>
        </div>
    </div>
    <div class="tab-content mb-5" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <div class="card mb-3">
                <div class="card-header bg-white">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-md-10">
                            <div class="row">
                                <div class="col-md-3 my-1 my-md-0">
                                    <div class="row align-items-center">
                                        <div class="col-2"><i [innerHTML]="icons.packaging | safeHtml"></i></div>
                                        <div class="col-9 px-md-2 px-0">
                                            <p class="font12 wt-500 content-light m-0">رقم الطلب
                                                <small class="d-block font16 wt-700 content-main">NEGEB00081110</small>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 my-1 my-md-0">
                                    <p class="font12 wt-500 content-light m-0">تاريخ إرسال الطلب
                                        <small class="d-block font16 wt-700 content-main">20 ديسمبر
                                                            2022</small>
                                    </p>
                                </div>
                                <div class="col-md-3 my-1 my-md-0">
                                    <p class="font12 wt-500 content-light m-0">طريقة الدفع
                                        <small class="d-block font16 wt-700 content-main">الدفع عند
                                                            الإستلام</small>
                                    </p>
                                </div>
                                <div class="col-md-2 my-1 my-md-0">
                                    <p class="font12 wt-500 content-light m-0">إجمالي المبلغ
                                        <small class="d-block font16 wt-700 content-main">1500
                                                            ج.م</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 my-1 my-md-0 ps-md-0 text-md-end">
                            <button [routerLink]="['123']" class="font16 wt-500 padding border rounded px-2 d-inline-block py-1 bg-white">عرض
                                                تفاصيل الطلب</button>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="row m-1 bg-extra-light rounded p-md-3 p-md-1 ">
                        <div class="col-md-3 border-end my-2 my-md-0">
                            <p class="wt-700 font16">الشحنة 1 من 1 <small class="content-light wt-500">(1 منتجات)</small></p>
                            <span class="d-inline-block text-white font16 wt-500 p-2 theme-bg rounded px-3">جاري
                                                المعالجة</span>
                            <p class="m-0 content-light font16 wt-500 mt-md-4 mt-2">معاد التوصيل المتوقع</p>
                            <p class="wt-700 font16 m-0">24 ديسمبر 2022 - 25 ديسمبر 2022</p>
                        </div>
                        <div class="col-md-9 d-flex productValue my-2 my-md-0">
                            <div class="image bg-white p-3 mx-1 border rounded">
                                <img src="assets/images/product1.png" class="img-fluid" alt="...">
                                <span class="py-2 mt-2 text-center d-block border rounded text-secondary">قيم
                                                    المنتج</span>
                            </div>
                            <div class="image bg-white p-3 mx-1 border rounded">
                                <img src="assets/images/product1.png" class="img-fluid" alt="...">
                                <span class="py-2 mt-2 text-center d-block border rounded text-secondary">قيم
                                                    المنتج</span>
                            </div>
                        </div>
                    </div>
                    <div class="py-3 mt-3 ms-1">
                        <span class="font16 wt-500 border-danger rounded p-2 border theme-color px-3">إلغاء
                                            الطلب</span>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header bg-white">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-md-10">
                            <div class="row">
                                <div class="col-md-3 my-1 my-md-0">
                                    <div class="row align-items-center">
                                        <div class="col-2"><i [innerHTML]="icons.packaging | safeHtml"></i></div>
                                        <div class="col-9 px-md-2 px-0">
                                            <p class="font12 wt-500 content-light m-0">رقم الطلب
                                                <small class="d-block font16 wt-700 content-main">NEGEB00081110</small>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 my-1 my-md-0">
                                    <p class="font12 wt-500 content-light m-0">تاريخ إرسال الطلب
                                        <small class="d-block font16 wt-700 content-main">20 ديسمبر
                                                            2022</small>
                                    </p>
                                </div>
                                <div class="col-md-3 my-1 my-md-0">
                                    <p class="font12 wt-500 content-light m-0">طريقة الدفع
                                        <small class="d-block font16 wt-700 content-main">الدفع عند
                                                            الإستلام</small>
                                    </p>
                                </div>
                                <div class="col-md-2 my-1 my-md-0">
                                    <p class="font12 wt-500 content-light m-0">إجمالي المبلغ
                                        <small class="d-block font16 wt-700 content-main">1500
                                                            ج.م</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 my-1 my-md-0 ps-md-0 text-md-end">
                            <button [routerLink]="['123']" class="font16 wt-500 padding border rounded px-2 d-inline-block py-1 bg-white">عرض
                                                تفاصيل الطلب</button>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="row m-1 bg-extra-light rounded p-md-3 p-md-1 ">
                        <div class="col-md-3 border-end my-2 my-md-0">
                            <p class="wt-700 font16">الشحنة 1 من 1 <small class="content-light wt-500">(1 منتجات)</small></p>
                            <span class="d-inline-block text-white font16 wt-500 p-2 bg-warn rounded px-3">جاري
                                                المعالجة</span>
                            <p class="m-0 content-light font16 wt-500 mt-md-4 mt-2">معاد التوصيل المتوقع</p>
                            <p class="wt-700 font16 m-0">24 ديسمبر 2022 - 25 ديسمبر 2022</p>
                        </div>
                        <div class="col-md-9 d-flex productValue my-2 my-md-0">
                            <div class="image bg-white p-3 mx-1 border rounded">
                                <img src="assets/images/product1.png" class="img-fluid" alt="...">
                                <span class="py-2 mt-2 text-center d-block border rounded text-secondary">قيم
                                                    المنتج</span>
                            </div>
                            <div class="image bg-white p-3 mx-1 border rounded">
                                <img src="assets/images/product1.png" class="img-fluid" alt="...">
                                <span class="py-2 mt-2 text-center d-block border rounded text-secondary">قيم
                                                    المنتج</span>
                            </div>
                        </div>
                    </div>
                    <div class="py-3 mt-3 ms-1">
                        <span class="font16 wt-500 border-danger rounded p-2 border theme-color px-3">إلغاء
                                            الطلب</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <div class="row">
                <div class="col-md-4 text-center mx-auto pt-md-3">
                    <img src="assets/images/404.svg" alt="404">
                    <p class="wt-800 font25 py-2">لا يوجد اي طلبات حتى الآن</p>
                    <button type="button" class="btn btn-danger theme-bg text-white font18 wt-600 w-100">تسوق الآن</button>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
            <div class="row">
                <div class="col-md-4 text-center mx-auto pt-md-3">
                    <img src="assets/images/404.svg" alt="404">
                    <p class="wt-800 font25 py-2">لا يوجد اي طلبات حتى الآن</p>
                    <button type="button" class="btn btn-danger theme-bg text-white font18 wt-600 w-100">تسوق الآن</button>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="pills-four" role="tabpanel" aria-labelledby="pills-four-tab">
            <div class="row">
                <div class="col-md-4 text-center mx-auto pt-md-3">
                    <img src="assets/images/404.svg" alt="404">
                    <p class="wt-800 font25 py-2">لا يوجد اي طلبات حتى الآن</p>
                    <button type="button" class="btn btn-danger theme-bg text-white font18 wt-600 w-100">تسوق الآن</button>
                </div>
            </div>
        </div>
    </div>
</div>